<center><h1 style="font-size:2em;color:#2467C0"> Ejercicio  </h1></center>

## Analizar con herramientas de pandas las bases de datos:
* Covid
* Incendios
* Escuelas de Jalisco
* Juegos olimpicos
* Indicador de pobreza

**Realizar 5 analisis en cada uno de los archivos. Describir el resultado**

In [7]:
import csv
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

## Covid

In [9]:
df_covid = pd.read_csv('Datos/Covid_2020/200419COVID19MEXICO.csv')
df_covid.head(5)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-04-19,09e8dc,2,9,15,1,15,15,37.0,2,...,2,2,2,2,2,1,99,99,97,1
1,2020-04-19,1dd782,2,12,9,1,15,9,3.0,1,...,2,1,2,2,2,2,99,99,97,97
2,2020-04-19,0efbaf,2,9,28,2,16,28,32.0,1,...,2,2,2,2,1,1,99,99,97,97
3,2020-04-19,0e8ab4,2,12,9,2,99,9,13.0,1,...,2,2,2,2,1,3,99,99,97,97
4,2020-04-19,013a6c,1,3,15,2,15,15,106.0,1,...,2,1,2,2,1,3,99,99,97,97

In [10]:
df_covid.dtypes

FECHA_ACTUALIZACION     object
ID_REGISTRO             object
ORIGEN                   int64
SECTOR                   int64
ENTIDAD_UM               int64
SEXO                     int64
ENTIDAD_NAC              int64
ENTIDAD_RES              int64
MUNICIPIO_RES          float64
TIPO_PACIENTE            int64
FECHA_INGRESO           object
FECHA_SINTOMAS          object
FECHA_DEF               object
INTUBADO                 int64
NEUMONIA                 int64
EDAD                     int64
NACIONALIDAD             int64
EMBARAZO                 int64
HABLA_LENGUA_INDIG       int64
DIABETES                 int64
EPOC                     int64
ASMA                     int64
INMUSUPR                 int64
HIPERTENSION             int64
OTRA_COM                 int64
CARDIOVASCULAR           int64
OBESIDAD                 int64
RENAL_CRONICA            int64
TABAQUISMO               int64
OTRO_CASO                int64
RESULTADO                int64
MIGRANTE                 int64
PAIS_NACIONALIDAD       object
PAIS_ORIGEN             object
UCI                      int64
dtype: object

In [11]:
df_covid.describe()

,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,INTUBADO,NEUMONIA,...,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,UCI
count,49570.000000,49570.000000,49570.000000,49570.000000,49570.000000,49570.000000,49561.000000,49570.000000,49570.000000,49570.000000,...,49570.000000,49570.000000,49570.000000,49570.000000,49570.000000,49570.000000,49570.000000,49570.000000,49570.000000,49570.000000
mean,1.603248,8.602522,14.712124,1.490337,35.098971,14.919205,35.851254,1.236232,74.555094,1.857051,...,2.136534,2.347327,2.292253,2.134376,2.293282,2.216623,37.816199,2.037886,98.491225,74.554105
std,0.489229,3.802911,8.122476,0.499912,34.728889,8.067539,45.376643,0.424770,40.377447,1.287129,...,5.416525,6.243596,5.584147,5.240505,5.499252,5.543757,47.098068,0.608083,7.020337,40.381610
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,4.000000,9.000000,1.000000,14.000000,9.000000,7.000000,1.000000,97.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,99.000000,97.000000
50%,2.000000,12.000000,14.000000,1.000000,19.000000,15.000000,20.000000,1.000000,97.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,97.000000
75%,2.000000,12.000000,20.000000,2.000000,30.000000,21.000000,43.000000,1.000000,97.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,2.000000,99.000000,97.000000
max,2.000000,13.000000,32.000000,2.000000,99.000000,32.000000,570.000000,2.000000,99.000000,99.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,99.000000,3.000000,99.000000,99.000000

## Incendios

## Escuelas de Jalisco

## Juegos olimpicos

## Indicador de pobreza