<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Pandas -Parte 1  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Pandas - Series y DataFrames  </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/WesM.png" align="left" style="width:500px"/></td>
<td>

* **Wes McKinney**, empezó a desarrollar Pandas en el año 2008 mientras trabajaba en *AQR Capital* [https://www.aqr.com/] por la necesidad que tenía de una herramienta flexible de alto rendimiento para realizar análisis cuantitativos en datos financieros. 
* Antes de dejar AQR convenció a la administración de la empresa de distribuir esta biblioteca bajo licencia de código abierto.
* **Pandas** es un acrónimo de **PANel DAta analysiS**
   
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Introduccion

* Pandas es un paquete de Python que proporciona estructuras de datos rápidas, flexibles y expresivas diseñadas para hacer que el trabajo con datos "relacionales" o "etiquetados" sea fácil e intuitivo. 
* Pretende ser el elemento fundamental de alto nivel para realizar análisis de datos prácticos y del mundo real en Python.
* La documentación oficial de Pandas se puede encontrar en el siguiente link https://pandas.pydata.org/pandas-docs/stable/


<img align="left" width=60% src="figuras/pandas2.jpeg">

Características principales de uso:
* Ingestión de datos (Data ingestion)
* Estadística descriptiva
* Limpieza de datos
* Visualización
* Transformación de datos
* Combinando DataFrames
* Manejo datos utilizando una variable temporal

# Estructuras de datos en Pandas : Series y DataFrames

Pandas proporciona dos tipos de datos fundamentales, para 1D (**Series**) y datos 2D (**DataFrame**).


<img align="left" width=75% src="figuras/SeriesYDataFrame.png">

<img align="left" width=60% src="figuras/DataFrame.png">

En el nivel más básico, los objetos Pandas se pueden considerar como versiones mejoradas de matrices estructuradas NumPy en las que las filas y columnas se identifican con etiquetas en lugar de índices enteros simples. Como veremos durante el transcurso de esta unidad, Pandas proporciona una serie de herramientas, métodos y funcionalidades útiles además de las estructuras de datos básicas. Por lo tanto, introduzcamos estas tres estructuras de datos fundamentales de Pandas: **Series** y **DataFrames**.

# Las Series
Las **Series** de Pandas son un arreglos unidimensionales de datos indexados. Se pueden crear a partir de una lista o arreglo de la siguiente manera:

In [2]:
 #Ejemplo
data = pd. Series([9,0.25,1,1.5,3,8.9],
                 index=['a','b','c','d','x','y'] #We can change the values of the indices
                 ) 
#print(data)
data

a    9.00
b    0.25
c    1.00
d    1.50
x    3.00
y    8.90
dtype: float64

Como vemos en la salida anterior, la **Serie** envuelve cuenta con una secuencia de ``índices`` como  de ``valores``. Los ``valores`` son simplemente un arreglo de NumPy

In [3]:
#Valores
data.values

array([9.  , 0.25, 1.  , 1.5 , 3.  , 8.9 ])

Y para conocer la secuencia de los ``índices`` podemos usar:

In [4]:
#Indices
data.index

Index(['a', 'b', 'c', 'd', 'x', 'y'], dtype='object')

Al igual que con un arreglo de NumPy, se puede acceder a los datos mediante el índice asociado a través de la conocida notación de corchetes de Python:

In [5]:
data['d']

1.5

In [6]:
data[2:]

c    1.0
d    1.5
x    3.0
y    8.9
dtype: float64

## Las Series:  arreglos generalizados de NumPy

Por lo que hemos visto hasta ahora, puede parecer que las **Series** son básicamente intercambiables con arreglos unidimensionales de NumPy. La diferencia esencial es la presencia de los índices: mientras que los arreglos de Numpy tienen un índice entero definido implícitamente que se utiliza para acceder a los valores (índices asociados a la posición), las Series de Pandas tiene índices definidos explícitamente asociados con los valores. Esta definición de índice explícita le da a las Series características  adicionales. 

Por ejemplo, no es necesario que el índice sea un número entero.

In [7]:
 poblacion_diccionario = {'California': 38.3,
                         'Texas': 26.4,
                         'New York': 19.6,
                         'Florida': 19.5,
                         'Illinois': 12.8,
                         'Washiton': 17.5}
poblacion = pd.Series( poblacion_diccionario)
print(poblacion)

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
Illinois      12.8
Washiton      17.5
dtype: float64

Y el acceso a cada elemento funciona con su respectivo índice:

In [8]:
  poblacion['California']

38.3

Incluso podemos utilizar índices no contiguos o no secuenciales:

In [9]:
 poblacion['California':'Florida']

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
dtype: float64

## Las Series y  diccionarios de Python

Se puede considerar que una **Serie** es similar a un diccionario ordenado que asigna un valor a una etiqueta, de hecho, es posible construir una serie directamente desde un diccionario de Python:

In [10]:
poblacion_diccionario = {'California': 38.3,
                   'Texas': 26.4,
                   'New York': 19.6,
                   'Florida': 19.5,
                   'Illinois': 12.8,
                   'Washington': 17.5,     
                             }
poblacion = pd.Series( poblacion_diccionario)
print(poblacion)
# Crar la Serie llamada poblacion

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
Illinois      12.8
Washington    17.5
dtype: float64

De forma predeterminada, se creará una **Serie** donde el índice se extrae de las etiquetas ordenadas y se puede realizar el acceso típico a elementos al estilo de un diccionario de Python:

In [23]:
 poblacion['California']

38.3

Sin embargo, a diferencia de un diccionario, las **Series** también admiten operaciones de segmentación:

In [ ]:
  poblacion['California':'Florida']

Discutiremos algunas de las peculiaridades de la indexación y segmentación de Pandas en las siguientes lecciones.

# DataFrames

La siguiente estructura fundamental en Pandas es el **DataFrame**. Al igual que las **Series** presentadas en la sección anterior, los  **DataFrame** se pueden considerar como una generalización de arreglos de NumPy o como   diccionarios especializados de Python.

## DataFrame como un arreglo generalizado de NumPy


Si una **Serie** es un análogo de un arreglo unidimensional con índices flexibles, un **DataFrame** es un análogo de un arreglo bidimensional con índices de filas flexibles y nombres de columnas flexibles.
Así como podría pensar en un arreglo bidimensional como una secuencia ordenada de columnas unidimensionales alineadas, se puede pensar en un **DataFrame** como una secuencia de objetos alineados de **Serie**,  por *alineados* queremos decir que comparten el mismo índice.

Para demostrar esto, construyamos primero una nueva **Serie** que enumere el área de cada uno de los  estados mostrados en la sección anterior:

In [15]:
area_diccionario = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995,'Washington': 289990}
#Crear la serie llamada area
area = pd.Series(area_diccionario)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Washington    289990
dtype: int64

Ahora que tenemos esto junto con la serie de población de anterior, podemos usar un diccionario para construir un único objeto bidimensional que contenga esta información:

In [16]:
#Crear la serie llamada estados
estados = pd.DataFrame({'etiqueta_poblacion':poblacion,
                        'etiqueta_area':area})
estados

            etiqueta_poblacion  etiqueta_area
California                38.3         423967
Texas                     26.4         695662
New York                  19.6         141297
Florida                   19.5         170312
Illinois                  12.8         149995
Washington                17.5         289990

Como en las **Series**, el **DataFrame** tiene un atributo de ``index`` que da acceso a las etiquetas del índice:

In [17]:
#indices
estados.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois', 'Washington'], dtype='object')

Además, el **DataFrame** tiene un atributo ``columns``  que contiene las etiquetas de las columnas:

In [18]:
#Columnas
estados.columns

Index(['etiqueta_poblacion', 'etiqueta_area'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame como un diccionario especializado

Se puede  pensar en un **DataFrame** como una diccionario especializado, ya que un **DataFrame** además asigna un nombre a cada columna. Por ejemplo, al pedir el 'area' obtendremos los elementos de la columna 'area':

In [19]:
estados

            etiqueta_poblacion  etiqueta_area
California                38.3         423967
Texas                     26.4         695662
New York                  19.6         141297
Florida                   19.5         170312
Illinois                  12.8         149995
Washington                17.5         289990

In [20]:
# area
estados['etiqueta_area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Washington    289990
Name: etiqueta_area, dtype: int64

De igual manera para la columna 'poblacion'

In [21]:
#Población
estados['etiqueta_poblacion']

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
Illinois      12.8
Washington    17.5
Name: etiqueta_poblacion, dtype: float64

### Construyendo DataFrames

Un **DataFrame** de Pandas se puede construir de varias formas utilizando la función ``DataFrame``. Aquí daremos varios ejemplos.

#### a) Utilizando una Serie

Un **DataFrame** es una colección de **Series**, y un **DataFrame** de una sola columna se puede construir a partir de una sola **Serie**:

In [22]:
#estados['etiqueta_poblacion']
pd.DataFrame(poblacion, columns= ['Poblacion en millones'])

            Poblacion en millones
California                   38.3
Texas                        26.4
New York                     19.6
Florida                      19.5
Illinois                     12.8
Washington                   17.5

#### b) Lista de diccionarios


Un conjunto de diccionarios se pueden convertir en un **DataFrame**.

In [23]:
diccionario = { 'a' : { 'x':1 , 'y':2 , 'z':3  } ,
              'b':{ 'x':11 , 'y':12 , 'z':13  }
              }
pd.DataFrame(diccionario)

   a   b
x  1  11
y  2  12
z  3  13


Incluso si faltan algunos elementos en los diccionarios, Pandas las completará con valores ``NaN`` (es decir, "not a number"):

In [47]:
diccionario = { 'a' : { 'x':1 , 'y':2 , 'z':3, 'm':5  } ,
              'b':{ 'x':11 , 'y':12 , 'z':13, 'n':10  }
              }
pd.DataFrame(diccionario)

     a     b
x  1.0  11.0
y  2.0  12.0
z  3.0  13.0
m  5.0   NaN
n  NaN  10.0

#### c) Desde un arreglo bidimensional de  NumPy 

Dada un arreglo bidimensional de datos, podemos crear un **DataFrame** con cualquier columna e índice especificado. Si se omite, se utilizará un índice entero para cada uno

In [52]:
# np.random.rand(3, 2)
arreglo2D=np.random.rand(3, 2)
arreglo2D

array([[0.59818496, 0.76197665],
       [0.50640357, 0.23278817],
       [0.3231364 , 0.66507239]])

In [55]:
# Cuando se especifican los índices de filas y columnas
pd.DataFrame(arreglo2D, 
            columns = ['A', 'B'],
            index = ['x', 'y', 'z'])

          A         B
x  0.598185  0.761977
y  0.506404  0.232788
z  0.323136  0.665072

In [56]:
# Cuando se especifican los índices solo en columnas
pd.DataFrame(arreglo2D, 
            columns = ['A', 'B'])

          A         B
0  0.598185  0.761977
1  0.506404  0.232788
2  0.323136  0.665072

In [57]:
# Cuando no se especifican los índices 
pd.DataFrame(arreglo2D)

          0         1
0  0.598185  0.761977
1  0.506404  0.232788
2  0.323136  0.665072

Para manejar de una manera eficiente los **DataFrame** se recomienda siempre asignar nombres a las columnas

#### d)  Combinando  Series

Como vimos antes, un **DataFrame** también se puede construir a partir de **Series**

In [67]:
# poblacion + area
#pd.DataFrame(('e_poblacion':poblacion, '0_area':area))
pd.DataFrame( {  'e_poblacion': poblacion , 'e_area':area})

            e_poblacion  e_area
California         38.3  423967
Texas              26.4  695662
New York           19.6  141297
Florida            19.5  170312
Illinois           12.8  149995
Washington         17.5  289990

#####  Ejemplo de un DataFrame a partir de Series y Series a partir de diccionarios

Definiremos un DataFrame utilizando 5 diferentes Series, y las Series a partir de Diccionarios utilizando información de Pokémon. Consideraremos 2 variables cuantitativas (altura y peso ) y 3 cualitativas (categoría, tipo y debilidad)

[https://www.lavanguardia.com/tecnologia/20160907/403442078796/todos-pokemon.html]

<img align="left" width=75% src="figuras/pokemones.png">

**1. Diccionarios**

In [24]:
bulbasaur_diccionario = {'Altura': 0.7, 'Peso': 6.9, 'Categoría': 'Semilla',
             'Tipo': 'Planta', 'Debilidad':  'Hielo y fuego'}
bulbasaur = pd.Series(bulbasaur_diccionario) ###
bulbasaur

Altura                 0.7
Peso                   6.9
Categoría          Semilla
Tipo                Planta
Debilidad    Hielo y fuego
dtype: object

In [25]:
charmander_diccionario = {'Altura': 0.6, 'Peso': 8.5, 'Categoría': 'Lagartija',
             'Tipo': 'Fuego', 'Debilidad':  'Tierra y agua'}
charmander = pd.Series(charmander_diccionario) ###
charmander

Altura                 0.6
Peso                   8.5
Categoría        Lagartija
Tipo                 Fuego
Debilidad    Tierra y agua
dtype: object

In [26]:
squirtle_diccionario = {'Altura': 0.5, 'Peso': 9.0, 'Categoría': 'Tortuga',
              'Debilidad':  'Electricidad'}
squirtle = pd.Series(squirtle_diccionario) ###
squirtle

Altura                0.5
Peso                  9.0
Categoría         Tortuga
Debilidad    Electricidad
dtype: object

In [27]:
caterpie_diccionario = {'Altura': 0.3, 'Peso': 2.9, 'Categoría': 'Gusano',
             'Tipo':  'Bicho'}
caterpie = pd.Series(caterpie_diccionario) ###
caterpie

Altura          0.3
Peso            2.9
Categoría    Gusano
Tipo          Bicho
dtype: object

In [28]:
pidgey_diccionario = {'Altura': 0.3, 'Peso': 1.8, 'Debilidad':  'Hielo'}
pidgey = pd.Series(pidgey_diccionario) ###
pidgey

Altura         0.3
Peso           1.8
Debilidad    Hielo
dtype: object

**2. Series**

In [29]:
df_pokemones= pd.DataFrame({'Bulbasaur':bulbasaur,
              'Charmander': charmander, 
              'Squirtle': squirtle, 
              'Caterpie': caterpie, 
              'Pidgey': pidgey,               
             }) # if you add at the end ".T" you can change the rows for the columns 
df_pokemones

               Bulbasaur     Charmander      Squirtle Caterpie Pidgey
Altura               0.7            0.6           0.5      0.3    0.3
Categoría        Semilla      Lagartija       Tortuga   Gusano    NaN
Debilidad  Hielo y fuego  Tierra y agua  Electricidad      NaN  Hielo
Peso                 6.9            8.5           9.0      2.9    1.8
Tipo              Planta          Fuego           NaN    Bicho    NaN

# Ejercicio

<div class="alert alert-success">

**Creación de un DataFrame con series y diccionarios**
    
1. Definir un DataFrame a partir de 5 series y cada Serie a partir de un diccionario (de algún mismo tópico), considerando  6 características diferentes y combinando tipos de variables (cuantitativas y cualitativas), también puede omitir algunos valores. 
</div>

Ejemplo:


``` python
Alan = pd.Series({'Edad': 20 ,
                  'Altura': 1.70,
                  'Peso': 68,
                  'Estado': 'Yucatán',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Derecho'})
María = pd.Series({'Edad': 21 ,
                   'Altura': 1.80,
                   'Peso': 80,
                   'Color favorito':'Rojo',
                   'Licenciatura': 'Ingeniería'})
Pedro = pd.Series({'Edad': 23 ,
                   'Altura': 1.67,
                   'Peso': 75,
                   'Estado': 'Aguascalientes',
                   'Color favorito':'Morado',
                   'Licenciatura': 'Artes'})
Esmeralda = pd.Series({'Edad': 25 ,
                       'Altura': 1.72,
                       'Peso': 60,
                       'Estado': 'Campeche',
                       'Licenciatura': 'Turismo'})
Karen = pd.Series({'Edad': 25 ,
                  'Altura': 1.74,
                  'Peso': 69,
                  'Estado': '',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Psicología'})

df_alumnos = pd.DataFrame({'Alan':Alan,
                           'María': María, 
                           'Pedro': Pedro, 
                           'Esmeralda': Esmeralda, 
                           'Karen': Karen
                           })
df_alumnos

>>

                   Alan       María           Pedro Esmeralda       Karen
Altura              1.7         1.8            1.67      1.72        1.74
Color favorito     Azul        Rojo          Morado       NaN        Azul
Edad                 20          21              23        25          25
Estado          Yucatán         NaN  Aguascalientes  Campeche            
Licenciatura    Derecho  Ingeniería           Artes   Turismo  Psicología
Peso                 68          80              75        60          69


```

### Elemnt of the periodic tables

In [30]:
Hydrogen_dictionary = {'Symbol': 'H', 'AtomicNumber': 1, 'AtomicMass': float(1.008000), 'AtomicRadius': 120, 'IonizationEnergy': float(13.598), 
                     'StandardState': 'Gas', 'Density':float(0.000090), 'GroupBlock':'Nonmetal'}
hydrogen = pd.Series(Hydrogen_dictionary)
hydrogen

Symbol                     H
AtomicNumber               1
AtomicMass             1.008
AtomicRadius             120
IonizationEnergy      13.598
StandardState            Gas
Density              0.00009
GroupBlock          Nonmetal
dtype: object

In [32]:
Helim_dictionary = {'Symbol': 'He', 'AtomicNumber': 2, 'AtomicMass': float(4.002600), 'AtomicRadius': 140, 'IonizationEnergy': float(24.587), 
                     'StandardState': 'Gas', 'Density':float(0.000179), 'GroupBlock':'Noble gas'}
helim = pd.Series(Helim_dictionary)
helim

Symbol                     He
AtomicNumber                2
AtomicMass             4.0026
AtomicRadius              140
IonizationEnergy       24.587
StandardState             Gas
Density              0.000179
GroupBlock          Noble gas
dtype: object

In [33]:
Lithium_dictionary = {'Symbol': 'Li', 'AtomicNumber': 3, 'AtomicMass': float(7.000000), 'AtomicRadius': 182, 'IonizationEnergy': float(5.392), 
                     'StandardState': 'Solid', 'Density':float(0.534000), 'GroupBlock':'Alkali metal'}
lithium = pd.Series(Lithium_dictionary)
lithium

Symbol                        Li
AtomicNumber                   3
AtomicMass                   7.0
AtomicRadius                 182
IonizationEnergy           5.392
StandardState              Solid
Density                    0.534
GroupBlock          Alkali metal
dtype: object

In [34]:
Beryllium_dictionary = {'Symbol': 'Be', 'AtomicNumber': 4, 'AtomicMass': float(9.012183), 'AtomicRadius': 153, 'IonizationEnergy': float(9.323), 
                     'StandardState': 'Solid', 'Density':float(1.850000), 'GroupBlock':'Alkaline earth metal'}
beryllium = pd.Series(Beryllium_dictionary)
beryllium

Symbol                                Be
AtomicNumber                           4
AtomicMass                      9.012183
AtomicRadius                         153
IonizationEnergy                   9.323
StandardState                      Solid
Density                             1.85
GroupBlock          Alkaline earth metal
dtype: object

In [35]:
Boron_dictionary = {'Symbol': 'B', 'AtomicNumber': 5, 'AtomicMass': float(10.810000), 'AtomicRadius': 192, 'IonizationEnergy': float(8.298), 
                     'StandardState': 'Solid', 'Density':float(2.370000), 'GroupBlock':'Metalloid'}
boron = pd.Series(Boron_dictionary)
boron

Symbol                      B
AtomicNumber                5
AtomicMass              10.81
AtomicRadius              192
IonizationEnergy        8.298
StandardState           Solid
Density                  2.37
GroupBlock          Metalloid
dtype: object

In [36]:
df_elements= pd.DataFrame({'Hydrogen': hydrogen,
              'Helim': helim, 
              'Lithium': lithium, 
              'Beryllium': beryllium, 
              'Boron': boron,               
             }).T # if you add at the end ".T" you can change the rows for the columns 
df_elements

,Symbol,AtomicNumber,AtomicMass,AtomicRadius,IonizationEnergy,StandardState,Density,GroupBlock
Hydrogen,H,1,1.008,120,13.598,Gas,0.00009,Nonmetal
Helim,He,2,4.0026,140,24.587,Gas,0.000179,Noble gas
Lithium,Li,3,7.0,182,5.392,Solid,0.534,Alkali metal
Beryllium,Be,4,9.012183,153,9.323,Solid,1.85,Alkaline earth metal
Boron,B,5,10.81,192,8.298,Solid,2.37,Metalloid

<div class="alert alert-success">
    
**Creación de un DataFrame vacío**
    
2. Definir un DataFrame que contenga un listado de 5 datos de 10 personas (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df['first_name'] = ['Josy', 'Vaughn', 'Neale', 'Teirtza']
df['last_name'] = ['Clarae', 'Halegarth', 'Georgievski', 'Teirtza']
df['gender'] = ['Female', 'Male', 'Male', 'Female']
print(df)


  first_name    last_name  gender
0       Josy       Clarae  Female
1     Vaughn    Halegarth    Male
2      Neale  Georgievski    Male
3    Teirtza      Teirtza  Female

```

In [13]:
df = pd.DataFrame() #Primero se crea el Data frame

df['first_name'] = ['Josy', 'Vaughn', 'Neale', 'Teirtza'] #Se va llenando el data frame, definiento cada seccion de este
# y agregando los datos a traves de listas 
df['last_name'] = ['Clarae', 'Halegarth', 'Georgievski', 'Teirtza']
df['gender'] = ['Female', 'Male', 'Male', 'Female']
df
#print(df)

  first_name    last_name  gender
0       Josy       Clarae  Female
1     Vaughn    Halegarth    Male
2      Neale  Georgievski    Male
3    Teirtza      Teirtza  Female

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas**

3. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de automóviles (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['first_name', 'last_name', 'gender'])
df = df.append({'first_name': 'Josy', 'last_name':'Clarae', 'gender':'Female'}, ignore_index=True)
df = df.append({'first_name': 'Vaughn', 'last_name':'Halegarth', 'gender':'Male'}, ignore_index=True)
print(df)


  first_name  last_name  gender
0       Josy     Clarae  Female
1     Vaughn  Halegarth    Male
```

In [48]:
import pandas as pd
cars_df = pd.DataFrame()
cars_df = pd.DataFrame(columns=['Vehicle', 'Vehicle class', 'Vehicle type', 'Body style', 'Capacity', 'Manufacturer'])

In [49]:
cars_df = df.append({'Vehicle': 'Scramjet', 'Vehicle class':'Sports', 'Vehicle type':'Custom vehicle', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Declasse'}, ignore_index=True)
cars_df = df.append({'Vehicle': 'Schlagen GT', 'Vehicle class':'Super', 'Vehicle type':'Custom Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Benefactor'}, ignore_index=True)
cars_df = df.append({'Vehicle': 'Zion Classic', 'Vehicle class':'Sports Classics', 'Vehicle type':'Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer':'Übermacht'}, ignore_index=True)
cars_df = df.append({'Vehicle': 'Cheetah', 'Vehicle class':'Super', 'Vehicle type':'Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Grotti'}, ignore_index=True)
print(cars_df)

  first_name  last_name  gender         Body style                  Capacity  \
0       Josy     Clarae  Female                NaN                       NaN
1     Vaughn  Halegarth    Male                NaN                       NaN
2       Josy     Clarae  Female                NaN                       NaN
3     Vaughn  Halegarth    Male                NaN                       NaN
4       Josy     Clarae  Female                NaN                       NaN
5     Vaughn  Halegarth    Male                NaN                       NaN
6        NaN        NaN     NaN  2-door sports car  2 (driver and passenger)

  Manufacturer  Vehicle Vehicle class  Vehicle type
0          NaN      NaN           NaN           NaN
1          NaN      NaN           NaN           NaN
2          NaN      NaN           NaN           NaN
3          NaN      NaN           NaN           NaN
4          NaN      NaN           NaN           NaN
5          NaN      NaN           NaN           NaN
6       Grotti  Cheetah         Super  Civilian car

C:\Users\flore\AppData\Local\Temp\ipykernel_26856\2726511376.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars_df = df.append({'Vehicle': 'Scramjet', 'Vehicle class':'Sports', 'Vehicle type':'Custom vehicle', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Declasse'}, ignore_index=True)
C:\Users\flore\AppData\Local\Temp\ipykernel_26856\2726511376.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars_df = df.append({'Vehicle': 'Schlagen GT', 'Vehicle class':'Super', 'Vehicle type':'Custom Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Benefactor'}, ignore_index=True)
C:\Users\flore\AppData\Local\Temp\ipykernel_26856\2726511376.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars_df = df.append({'Vehicle': 'Zion Classic', 'Vehicle class':'Sports Classics', 'Vehicle type':'Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Übermacht'}, ignore_index=True)
C:\Users\flore\AppData\Local\Temp\ipykernel_26856\2726511376.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars_df = df.append({'Vehicle': 'Cheetah', 'Vehicle class':'Super', 'Vehicle type':'Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Grotti'}, ignore_index=True)

In [52]:
import pandas as pd
Cars_df = pd.DataFrame()
Cars_df = pd.DataFrame(columns=['Vehicle', 'Vehicle class', 'Vehicle type', 'Body style', 'Capacity', 'Manufacturer'])

In [54]:
Cars_df = df.append({'Vehicle': 'Scramjet', 'Vehicle class':'Sports', 'Vehicle type':'Custom vehicle', 'Body style': '2-door sports car','Capacity': '2 (driver and passenger)','Manufacturer': 'Declasse'}, ignore_index=True)
Cars_df = df.append({'Vehicle': 'Schlagen GT', 'Vehicle class': 'Super', 'Vehicle type': 'Custom Civilian car', 'Body style': '2-door sports car','Capacity': '2 (driver and passenger)','Manufacturer': 'Benefactor'}, ignore_index=True)
Cars_df = df.append({'Vehicle': 'Zion Classic', 'Vehicle class':'Sports Classics', 'Vehicle type':'Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Übermacht'}, ignore_index=True)
Cars_df = df.append({'Vehicle': 'Cheetah', 'Vehicle class':'Super', 'Vehicle type':'Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Grotti'}, ignore_index=True)
#print(Cars_df)
Cars_df

C:\Users\flore\AppData\Local\Temp\ipykernel_26856\4116200543.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Cars_df = df.append({'Vehicle': 'Scramjet', 'Vehicle class':'Sports', 'Vehicle type':'Custom vehicle', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Declasse'}, ignore_index=True)
C:\Users\flore\AppData\Local\Temp\ipykernel_26856\4116200543.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Cars_df = df.append({'Vehicle': 'Schlagen GT', 'Vehicle class':'Super', 'Vehicle type':'Custom Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Benefactor'}, ignore_index=True)
C:\Users\flore\AppData\Local\Temp\ipykernel_26856\4116200543.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Cars_df = df.append({'Vehicle': 'Zion Classic', 'Vehicle class':'Sports Classics', 'Vehicle type':'Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Übermacht'}, ignore_index=True)
C:\Users\flore\AppData\Local\Temp\ipykernel_26856\4116200543.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Cars_df = df.append({'Vehicle': 'Cheetah', 'Vehicle class':'Super', 'Vehicle type':'Civilian car', 'Body style': '2-door sports car','Capacity':'2 (driver and passenger)','Manufacturer': 'Grotti'}, ignore_index=True)

,first_name,last_name,gender,Body style,Capacity,Manufacturer,Vehicle,Vehicle class,Vehicle type
0,Josy,Clarae,Female,NaN,NaN,NaN,NaN,NaN,NaN
1,Vaughn,Halegarth,Male,NaN,NaN,NaN,NaN,NaN,NaN
2,Josy,Clarae,Female,NaN,NaN,NaN,NaN,NaN,NaN
3,Vaughn,Halegarth,Male,NaN,NaN,NaN,NaN,NaN,NaN
4,Josy,Clarae,Female,NaN,NaN,NaN,NaN,NaN,NaN
5,Vaughn,Halegarth,Male,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,2-door sports car,2 (driver and passenger),Grotti,Cheetah,Super,Civilian car

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas e índices**

4. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de celulares (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['first_name', 'last_name', 'gender'],index=range(3))
df.iloc[0] = ['Josy', 'Clarae', 'Female']
df.iloc[1] = ['Vaughn', 'Halegarth', 'Male']
df.iloc[2] = ['Neale', 'Georgievski', 'Male']
print(df)


  first_name  last_name  gender
0       Josy     Clarae  Female
1     Vaughn  Halegarth    Male
```

In [58]:
import pandas as pd
celulares_df = pd.DataFrame()
celulares_df = pd.DataFrame(columns=['Model', 'Display', 'Operating System', 'Processor', 'Memory', 'Storage'],index=range(7))

In [59]:
celulares_df.iloc[0] = ['Galaxy F02s', '6.5" HD', 'Android 10','Qualcomm Snapdragon 450', '8 GB', '32 GB']
celulares_df.iloc[1] = ['Galaxy F12', '6.5" HD+ 90 Hz ', 'Android 11','Samsung Exynos 850', '4 GB', '64 GB']
celulares_df.iloc[2] = ['Galaxy F22', '6.4" HD+ 90 Hz ', 'Android 11','MediaTek Helio G80', '6 GB', '128 GB']
celulares_df.iloc[3] = ['Galaxy F42 5G', '6.6" HD+ 90 Hz ', 'Android 11','MediaTek Dimensity 700', '8 GB', '128 GB']
celulares_df.iloc[4] = ['Galaxy F62', '6.7" HD+ 90 Hz ', 'Android 11','Samsung Exynos 9825', '8 GB', '128 GB']
celulares_df.iloc[5] = ['Galaxy F02s[', '6.5" HD+ 90 Hz ', 'Android 10','Qualcomm Snapdragon 450', '4 GB', '32 GB']
#celulares_df.iloc[6] = ['Galaxy F02s[', '6.5" HD+ 90 Hz ', 'Android 11','Samsung Exynos 850', '4 GB', '128 GB']
print(celulares_df)

           Model          Display Operating System                Processor  \
0    Galaxy F02s          6.5" HD       Android 10  Qualcomm Snapdragon 450
1     Galaxy F12  6.5" HD+ 90 Hz        Android 11       Samsung Exynos 850
2     Galaxy F22  6.4" HD+ 90 Hz        Android 11       MediaTek Helio G80
3  Galaxy F42 5G  6.6" HD+ 90 Hz        Android 11   MediaTek Dimensity 700
4     Galaxy F62  6.7" HD+ 90 Hz        Android 11      Samsung Exynos 9825
5   Galaxy F02s[  6.5" HD+ 90 Hz        Android 10  Qualcomm Snapdragon 450

  Memory Storage
0   8 GB   32 GB
1   4 GB   64 GB
2   6 GB  128 GB
3   8 GB  128 GB
4   8 GB  128 GB
5   4 GB   32 GB

In [60]:
celulares_df

,Model,Display,Operating System,Processor,Memory,Storage
0,Galaxy F02s,"6.5"" HD",Android 10,Qualcomm Snapdragon 450,8 GB,32 GB
1,Galaxy F12,"6.5"" HD+ 90 Hz",Android 11,Samsung Exynos 850,4 GB,64 GB
2,Galaxy F22,"6.4"" HD+ 90 Hz",Android 11,MediaTek Helio G80,6 GB,128 GB
3,Galaxy F42 5G,"6.6"" HD+ 90 Hz",Android 11,MediaTek Dimensity 700,8 GB,128 GB
4,Galaxy F62,"6.7"" HD+ 90 Hz",Android 11,Samsung Exynos 9825,8 GB,128 GB
5,Galaxy F02s[,"6.5"" HD+ 90 Hz",Android 10,Qualcomm Snapdragon 450,4 GB,32 GB